/* Reset y estilos generales */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: black;
}

/*---------- Header ----------*/
.encabezado {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 130px;
  background-color: black;
}

.img-logo {
  width: 100px;
  height: auto;
  padding-left: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: auto;
}

/*---------- Footer ----------*/
.contenedor-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(168,121,143);
  background: radial-gradient(circle, rgba(168,121,143,1) 0%, rgba(0,0,0,1) 100%);
}

.img-footer {
  width: 130px;
  height: auto;
  padding-left: 30px;
}

ul {
  display: flex;
  align-items: center;
}

li {
  text-decoration: none;
  list-style: none;
  padding-right: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.footer-links {
  padding-right: 100px;
}

.copyright {
  font-size: 0.9rem;
  padding-left: 250px;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
}

footer p {
  background: rgb(168,121,143);
  background: radial-gradient(circle, rgba(168,121,143,1) 0%, rgba(0,0,0,1) 100%);
}

/*---------- Index ----------*/
main {
  height: auto;
  background: rgb(168,121,143);
  background: radial-gradient(circle, rgba(168,121,143,1) 0%, rgba(0,0,0,1) 100%);
}

.section1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  background-color: black;
}

h1 {
  color: white;
  font-size: 3.5rem;
  padding: 30px 0px 30px 0px;
  text-align: center;
}

.section1 img {
  width: 400px;
  height: auto;
  border-radius: 15px;
}

.gallery {
  padding: 1vh 1vh 1vh 1vh;
}

.gallery img:hover {
  opacity: 0.5;
}

.gallery img {
  border: 1px solid rgb(0, 0, 0);
}

.gallery img:hover {
  border: 1px solid rgb(255, 255, 255);
}
